# Start by ignoring all

*
/*
**/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Not ignore file I want to push

!package.json
!package-lock.json
!.babelrc
!_dev
!_dev/**
!public
!public/**
!admin
!admin/**
!api
!api/**
/api/vendor/
/api/vendor/**
/api/settings/realSettings.php

# End by ignoring git files

**/.git
**/.gitignore
!.gitignore
!.gitmodules
!README.md